.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  max-width: 45%;
  height: auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2afff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1e9e9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  color: #332722;
  text-align: left;
  font-size: 24px;
  margin-bottom: 30px;
}

h2 {
  color: #332722;
  text-align: left;
  font-size: 24px;
  margin-bottom: 30px;
}

form {
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #000000;
  font-weight: bold;
}

input[type="email"],
input[type="text"],
select {
  width: 60%;
  padding: 10px;
  border: 1px solid #332722;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.green-button {
  background-color: green;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#itens-carrinho li {
  margin-bottom: 10px;
}

.remover-item {
  color: white;
  background-color: rgb(255, 45, 45);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.remover-item:hover {
  background-color: rgb(255, 45, 45);
}

.whatsapp-button {
  position: absolute;
  bottom: -1890px;
  right: 30px;
  margin-bottom: 5px;
}

.whatsapp-button img {
  width: 55px;
  height: 55px;
}

.whatsapp-text {
  color: #332722;
}

.text-center {
  text-align: center;
}

.text-center p {
  font-size: 16px; /* Defina o tamanho de fonte desejado */
}

.imagem-final {
  max-width: 250px; 
  height: auto;
  position: block;
  margin: 20px auto; 
  }

.portfolio-section {
  padding: 40px 0;
}

.portfolio-title {
  text-align: center;
  margin-bottom: 20px;
}

.portfolio-gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  scroll-behavior: smooth;
  padding: 10px;
}

.portfolio-gallery::-webkit-scrollbar {
  height: 8px;
}

.portfolio-gallery::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.portfolio-gallery::-webkit-scrollbar-thumb {
  background-color: #888;
}

.portfolio-gallery::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.portfolio-item {
  flex: 0 0 300px;
  text-align: center;
  margin-right: 20px;
}

.portfolio-item img {
  width: 100%;
  height: 500px;
  max-height: 500px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.portfolio-item h3 {
  margin-top: 10px;
  font-size: 18px;
}

.portfolio-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.portfolio-prev,
.portfolio-next {
  font-size: 24px;
  color: #555;
  margin: 0 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .portfolio-gallery {
    flex-wrap: nowrap;
  }

  .portfolio-item {
    flex: 0 0 auto;
    margin-right: 10px;
  }
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 109, 109, 0.514);
}

.footer-image {
  text-align: center;
  margin-top: -150px;
}

.encomendar-section {
  display: flex;
  align-items: center;
}

.encomendar-section .carrinho-img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.encomendar-content {
  margin-left: 10px;
}

.button-container {
  text-align: right;
  margin-bottom: 500px; /* Altere o valor para posicionar o botão mais para cima */
}

#ver-pacotes {
  background-color: #3a3737;
}

.carrinho-container {
  /* Estilos do carrinho de compras */
}

.portfolio-button-container {
  text-align: right;
  margin-top: 20px;
}

